<form class="custom-border rounded flex" id="theme-form" hx-post="{% url 'settings-theme' %}" hx-trigger="change from:#theme-input" hx-swap="none">
  {% csrf_token %}
    <button type="submit" value="light" class="flex items-center justify-center flex-1 p-2 hover:opacity-80">
      <i class="material-symbols-outlined">light_mode</i>
    </button>
    <button type="submit" value="dark" class="flex items-center justify-center flex-1 p-2 hover:opacity-80 border-l border-r" style="border-color: var(--border-color);">
      <i class="material-symbols-outlined">dark_mode</i>
    </button>
    <button type="submit" value="system" class="flex items-center justify-center flex-1 p-2 hover:opacity-80">
      <i class="material-symbols-outlined">routine</i>
    </button>
  </div>
</form>

<script>

</script>
  
<style>

</style>