{% load i18n %}

<form id="theme-form"
  hx-post="{% url 'settings-theme' %}"
  hx-trigger="change from:#theme-input"
  hx-swap="none"
  class="flex items-center gap-2">
  {% csrf_token %}
  
  <label class="switch">
    <input type="checkbox" id="theme-toggle">
    <span class="slider"></span>
  </label>
  <span>{% trans "Dark Mode" %}</span>

  <input type="hidden" name="theme" id="theme-input">
</form>

<script>
  (function handleToggleThemeButton() {
    const themeToggle = document.getElementById("theme-toggle");
    const themeInput = document.getElementById("theme-input");

    const isDarkStored = localStorage.getItem("theme") === "dark";
    themeToggle.checked = isDarkStored;
    document.documentElement.classList.toggle("dark", isDarkStored);

    themeToggle.addEventListener("change", () => {
      const isDark = themeToggle.checked;
      const theme = isDark ? "dark" : "light";
      themeInput.value = theme;
      document.documentElement.classList.toggle("dark", isDark);
      localStorage.setItem("theme", theme);
      themeInput.dispatchEvent(new Event("change"));
    });
  })();
</script>

  
  <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 22px;
    }
  
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .2s;
      border-radius: 34px;
    }
  
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
      background-color: #eee;
      border: 2px solid white;
      transition: .24s;
      border-radius: 50%;
    }
  
    input:checked + .slider {
      background-color: #0adb73;
    }
  
    input:checked + .slider:before {
      transform: translateX(17px);
    }
  </style>