<form id="dropdown-theme-form" class="w-60 overflow-hidden rounded custom-border" method="POST" action="{% url 'settings-theme' %}">
    {% csrf_token %}
    <select name="theme" id="dropdown-theme-select" class="w-full bg-transparent">
        <option value="light" {% if request.user.profile.theme == 'light' %}selected{% endif %}>Light</option>
        <option value="dark" {% if request.user.profile.theme == 'dark' %}selected{% endif %}>Dark</option>
        <option value="system" {% if request.user.profile.theme == 'system' %}selected{% endif %}>System Setting</option>
    </select>
</form>

<script>
    const themeFormSelect = document.getElementById("dropdown-theme-form");
    const themeSelect = document.getElementById("dropdown-theme-select");

    themeSelect.addEventListener("change", function() {
        themeFormSelect.submit();
        localStorage.setItem("theme", themeSelect.value);
    });
</script>

