{% extends 'base.html' %}

{% block layout %}
    <!-- Sidebar: show only on md and up -->
    <div class="hidden md:block">
        {% include 'includes/sidebar.html' %}
    </div>

    <!-- Main content -->
    <div class="w-full relative">
        <!-- Only show header on medium screens and up -->
        <div class="hidden md:block">
            {% include 'includes/header.html' %}
        </div>

        <!-- Space for Dynamic Island / Notch on small screens -->
        <div class="block md:hidden h-[env(safe-area-inset-top)]"></div>
        
        <div class="relative mx-auto max-w-[900px] p-4">
            <div class="flex top-12 mb-4 justify-between">
                <div class="text-3xl">{% block label %}{% endblock %}</div>
                <div class="flex gap-2">{% block buttons %}{% endblock %}</div>
            </div>
            
            {% block content %}{% endblock %}
        </div>

        <div class="md:block">
            {% include 'includes/footer.html' %}
        </div>
    </div>

    <!-- Navbar: show only on small screens -->
    <div class="block md:hidden">
        {% include 'includes/navbar.html' %}
    </div>

    {% block script %}{% endblock %}
{% endblock %}
