<div id="changePasswordModal" class="modal">
    <div class="modal-content w-[360px] flex flex-col justify-center items-center gap-4">
        <h2 class="text-3xl text-center">Change Password</h2>
        <i class="material-symbols-outlined text-5xl">key</i>

        <form id="changePasswordForm"
            hx-post="{% url 'profile-password-change' %}" 
            hx-target="#oldPasswordErrors"
            hx-swap="innerHTML"
            class="flex flex-col gap-2 w-full">
            {% csrf_token %}
        
            <input class="input mb-4" id="old_password" type="password" name="old_password" placeholder="Current Password" required>
            
            <input type="password" name="new_password1" placeholder="New Password" required class="input">
            <input type="password" name="new_password2" placeholder="Confirm Password" required class="input ">

            <button type="submit" class="button button-primary w-full mt-4 p-1">Update Password</button>
        </form>
    </div>
</div>

<script>
    // handle show modal
    const changePasswordModal = document.getElementById('changePasswordModal');
    const changePasswordModalContent = changePasswordModal.querySelector('.modal-content');
    const oldPassword = changePasswordModal.querySelector('#old_password');

    function openChangePasswordModal() {
        changePasswordModal.classList.add('show');
        changePasswordModalContent.classList.add('show');
        oldPassword.focus();
    }
    function closeChangePasswordModal() {
        changePasswordModal.classList.remove('show');
        changePasswordModalContent.classList.remove('show');
    }

    // Close the modal when clicking outside the content area
    changePasswordModal.addEventListener('click', function (event) {
        if (event.target === changePasswordModal) {
            closeChangePasswordModal();
        }
    });
</script>
