<nav class="fixed bottom-0 left-0 right-0 flex items-center justify-around h-20 px-4 shadow border-t border-[var(--border-color)] bg-[var(--bg-color)] z-50">
    <a href="{% url 'home' %}">
        <i class="material-symbols-outlined text-4xl opacity-40 {% if request.path == '/' %}filled !opacity-100{% endif %}">home</i>
    </a>
    <a href="{% url 'favorite' %}">
        <i class="material-symbols-outlined text-4xl opacity-40 {% if request.path == '/favorite/'%}filled !opacity-100{% endif %}">star</i>
    </a>
    <a href="{% url 'search' %}">
        <i class="material-symbols-outlined text-4xl opacity-40 {% if request.path == '/search/'%}filled !opacity-100{% endif %}">search</i>
    </a>
    
    <a href="{% url 'settings' %}">
        {% if request.user.is_authenticated %}
            <img class="mr-2 h-8 w-8 rounded-full avatar-header" src="{{ user.profile.avatarDisplay }}" />
        {% else %}
            <i class="material-symbols-outlined text-4xl opacity-40 {% if request.path == '/settings/'%}filled !opacity-100{% endif %}">account_circle</i>
        {% endif %}
    </a>
</nav>
