<nav x-data="{ expanded: false,
    init() {
        window.addEventListener('keydown', (e) => {
            if (e.key === '`' || e.key === '~') {
                this.expanded = !this.expanded;
                e.preventDefault(); // Prevent default behavior
            }
        });
    }}" 
     class="sticky top-0 h-screen p-[10px] pr-0 shadow border-r border-[var(--border-color)] min-w-[64px] backdrop-blur-[90px] z-50"
     :class="{'w-[60px] duration-500': !expanded, 'w-[220px] duration-500 ease-out': expanded}">
    
    <div class="flex flex-col justify-between h-full items-start">
        <a class="flex gap-2 items-center justify-center hover:opacity-70" href="/">
            <div class="w-[40px] h-[40px] flex items-center justify-center">
                <img class="h-full w-full" src="/static/images/logo.svg" alt="Logo"/>
            </div>
            <span class="text-xl font-semibold a"
                :class="{'opacity-0 duration-200': !expanded, 'opacity-100 duration-500 ease-in': expanded}">
                ProjectTitle
            </span>
        </a>

        <div class="flex flex-col gap-6 text-xl">
            <a href="{% url 'home' %}" class="flex items-center gap-2 hover:font-semibold hover:opacity-70 {% if request.path == '/' or request.path == '/home/' %}font-bold{% endif %}">
                <div class="w-[40px] h-[40px] flex items-center justify-center">
                    <img class="h-[36px] w-[36px]" src="/static/icon/home.svg" alt="Logo"/>
                </div>
                <div :class="{'opacity-0 duration-200': !expanded, 'opacity-100 duration-500 ease-in': expanded}">
                    Home
                </div>
            </a>
            <a href="{% url 'profile' %}" class="flex items-center gap-2 hover:font-semibold hover:opacity-70 {% if request.path|slice:':8' == '/profile' %}font-bold{% endif %}">
                <div class="w-[40px] h-[40px] flex items-center justify-center">
                    <img class="h-[32px] w-[32px]" src="/static/icon/profile1.svg" alt="Logo"/>
                </div>
                <div :class="{'opacity-0 duration-200': !expanded, 'opacity-100 duration-500 ease-in': expanded}">
                    Profile
                </div>
            </a>
            <a href="{% url 'settings' %}" class="flex items-center gap-2 hover:font-semibold hover:opacity-70 {% if request.path|slice:':8' == '/setting' %}font-bold{% endif %}">
                <div class="w-[40px] h-[40px] flex items-center justify-center">
                    <img class="h-[38px] w-[38px]" src="/static/icon/settings.svg" alt="Logo"/>    
                </div>
                <div :class="{'opacity-0 duration-200': !expanded, 'opacity-100 duration-500 ease-in': expanded}">
                    Settings
                </div>
            </a>
        </div>
        
        <!-- Sidebar Items -->
        <div class="relative navitems flex flex-col items-center gap-4">
            <!-- Expand Button -->
            <button @click="expanded = !expanded">
                <img :class="{'rotate-180': expanded}" class="h-4 w-4 transition-transform" src="/static/icon/right.svg" alt="Expand"/>
            </button>
    
            {% if request.user.is_authenticated %}
            <div x-data="{ dropdownOpen: false }">
                <a class="h-[40px] w-[40px] flex items-center justify-center cursor-pointer select-none" @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false">
                    <img class="h-[32px] w-[32px] avatar-header" src="{{user.profile.avatarDisplay}}"/>
                </a>
                <div x-show="dropdownOpen" x-cloak class="dropdown-menu absolute bottom-0 left-0 min-w-[162px] z-90"
                    x-transition:enter="duration-200 ease"
                    x-transition:enter-start="opacity-0 -translate-x-8 translate-y-8 scale-20"
                    x-transition:enter-end="opacity-100 scale-100">
                    <a href="{% url 'account_logout' %}" class="text-red-500">Log Out</a>
                    <a href="{% url 'settings' %}">Settings</a>
                    <a href="{% url 'profile' %}">My Profile</a>
                </div>
            </div>
            
            {% else %}
            <a class="a font-bold" href="{% url 'account_login' %}">Login</a>
            <a class="a font-bold" href="{% url 'account_signup' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
