{% extends 'layouts/form_layout.html' %}

{% block form_content %}
<div class="fixed inset-0 flex flex-col items-center justify-center bg-black">
    <div class="form w-[360px]">
        <h2 class="text-3xl text-center">Change Password</h2>
        <img class="h-16 w-60 opacity-88 mt-2 mb-2" src="/static/icon/key.svg" alt="delete"/>

        <form id="changePasswordForm" action="{% url 'profile-password-change' %}" method="post">
            {% csrf_token %}
        
            <input id="id_old_password" type="password" name="old_password" placeholder="Current Password" class="input" autofocus required >
            {% if form.old_password.errors %}
                <p class="text-red-500 text-xs p-1">{{ form.old_password.errors.0 }}</p>
            {% endif %}

            <input type="password" name="new_password1" placeholder="New Password"class="input mt-6 mb-2" required >
            {% if form.new_password1.errors %}
                <p class="text-red-500 text-xs p-1">{{ form.new_password1.errors.0 }}</p>
            {% endif %}

            <input type="password" name="new_password2" placeholder="Confirm Password" class="input" required >
            {% if form.new_password2.errors %}
                <p class="text-red-500 text-xs p-1">{{ form.new_password2.errors.0 }}</p>
            {% endif %}

            <button type="submit" class="button w-full button-primary p-1 mt-6">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}
