{% extends 'layouts/form_layout.html' %}

{% block label %}
    {% if request.user == profile.user %}My{% else %}
    @{{ profile.user.username }}'s{% endif %}
    Profile
{% endblock %}

{% block buttons %}
    {% if request.user == profile.user %}
    <a href="{% url 'profile-settings' %}" class="button">Edit Profile</a>
    {% endif %}
{% endblock %}

{% block form_content %}
    <div class="flex gap-4">
        <img class="avatar" src="{{ profile.avatarDisplay }}" />
        <div>
            <h1 class="text-3xl mt-1">{{ profile.fullName }}</h1>
            <h1 class="font-light opacity-70">@{{ profile.user.username }}</h1>
            <p class="text-gray-600">{{ profile.bio|linebreaksbr }}</p>
        </div>
    </div>

    <div class="custom-border-b my-6"></div>

    <div class="flex flex-col gap-2">

        <h1 class="flex gap-2">
            <i class="material-symbols-outlined text">mail</i>
            {{ profile.user.email }}
        </h1>

        {% if profile.birthday %}
        <h1 class="flex gap-2">
            <i class="material-symbols-outlined">calendar_today</i>
            {{ profile.birthday }}
        </h1>
        {%endif%}
        {% if profile.phone_number %}
        <h1 class="flex gap-2">
            <i class="material-symbols-outlined">call</i>
            {{ profile.phone_number }}
        </h1>
        {%endif%}
    </div>

    <div class="custom-border-b my-6"></div>

{% endblock %}
