{% extends 'layouts/form_layout.html' %}
{% load i18n %}

{% block form_content %}
    <div class="relative flex gap-4">
        <img class="avatar" src="{{ profile.avatarDisplay }}" />
        <div>
            <h1 class="text-2xl">{{ profile.fullName }}</h1>
            <h1 class="font-light opacity-70">@{{ profile.user.username }}</h1>
            <p class="opacity-70">{{ profile.bio|linebreaksbr }}</p>
        </div>
        <a href="{% url 'profile-edit' %}" class="absolute top-0 right-0 button">{% trans "Edit Profile" %}</a>
    </div>

    <div class="custom-border-b my-6"></div>

    <div class="flex flex-col gap-2 opacity-70">
        <h1 class="flex gap-2">
            <i class="material-symbols-outlined text">mail</i>
            {{ profile.user.email }}
        </h1>

        {% if profile.birthday %}
        <h1 class="flex gap-2">
            <i class="material-symbols-outlined">calendar_today</i>
            {{ profile.birthday }}
        </h1>
        {% endif %}

        {% if profile.phone_number %}
        <h1 class="flex gap-2">
            <i class="material-symbols-outlined">call</i>
            {{ profile.phone_number }}
        </h1>
        {% endif %}
    </div>

    <div class="custom-border-b my-6"></div>
{% endblock %}
