{% extends 'layouts/form_layout.html' %}
{% load i18n %}

{% block label %}{% trans "Profile" %}{% endblock %}

{% block buttons %}
    <button onclick=" document.getElementById('profileForm').submit()" id="saveButton" class="button button-primary button-disabled" type="submit">{% trans "Save" %}</button>
    <a href="{% url 'profile' %}" class="button">{% trans "Cancel" %}</a>
{% endblock %}

{% block form_content %}

<form id="profileForm" action="{% url 'profile-settings' %}" method="POST" enctype="multipart/form-data"
    class="mx-auto max-w-[500px] flex flex-col gap-2 items-center">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="profile_details">
    
    <!-- Profile Avatar Upload -->
    <div class="relative">
        <label for="{{ profile_form.avatar.id_for_label }}" class="cursor-pointer">
            <div class="overflow-hidden rounded-full">
                <img id="avatarPreview" class="avatar" src="{{ user.profile.avatarDisplay }}" />
                <div class="w-24 h-24 rounded-full absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
                    <i class="material-symbols-outlined">{% trans "edit" %}</i>
                </div>
            </div>
        </label>
        <input type="file" id="avatarInput" accept="image/*" name="avatar" class="hidden">
    </div>

    <div class="input-container bg-transparent border-none">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Username" %}</label> 
        <div class="text-lg font-light">
            {{ user.username }}
        </div>
    </div>

    <div class="input-container bg-transparent border-none">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Email" %}</label>
        <div class="flex justify-between items-center text-lg">
            <div class="flex gap-2 items-center">
                <div class="font-light">
                    {{ user.email }}
                </div>
                {% if not request.user.emailaddress_set.first.verified %}
                    <img class="h-5" src="/static/icon/danger.svg" alt="{% trans 'Unverified' %}"/>
                {% else %}
                    <img class="h-4" src="/static/icon/tick.svg" alt="{% trans 'Verified' %}"/>
                {% endif %}
            </div>
            <div class="flex gap-3">
                {% if not request.user.emailaddress_set.first.verified %}
                <a href="#" class="text-yellow-500 text-sm hover:underline" onclick="document.getElementById('verifyEmailForm').submit();">{% trans "Verify" %}</a>
                {% endif %}
                <a href="#" class="text-blue-500 text-sm hover:underline" onclick="openEmailModal()">{% trans "Change" %}</a>
            </div>
        </div>
    </div>

    <div class="flex gap-2 w-full">
        <div class="input-container">
            <label for="id_first_name" class="text-xs font-semibold">{% trans "First Name" %}</label>
            {{ user_form.first_name }}
            <script>
                document.getElementById('{{ user_form.first_name.id_for_label }}').addEventListener('input', function(e) {
                    e.target.value = e.target.value.charAt(0).toUpperCase() + e.target.value.slice(1);
                });
            </script>
        </div>
        <div class="input-container">
            <label for="id_last_name" class="text-xs font-semibold">{% trans "Last Name" %}</label>
            {{ user_form.last_name }}
            <script>
                document.getElementById('{{ user_form.last_name.id_for_label }}').addEventListener('input', function(e) {
                    e.target.value = e.target.value.charAt(0).toUpperCase() + e.target.value.slice(1);
                });
            </script>
        </div>
    </div>
    
    <div class="input-container">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Phone Number" %}</label>
        {{ profile_form.phone_number }}
    </div>

    <!-- Gender -->
    <div class="input-container">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Gender" %}</label>
        {{ profile_form.gender }}
    </div>

    <!-- Birthday -->
    <div class="input-container">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Birthday" %}</label>
        {{ profile_form.birthday }}
    </div>

    <!-- Bio -->
    <div class="input-container">
        <label for="id_gender" class="text-xs font-semibold">{% trans "Bio" %}</label>
        {{ profile_form.bio }}
    </div>
</form>

<form id="verifyEmailForm" action="{% url 'profile-email-verify' %}" method="post" class="hidden">
    {% csrf_token %}
</form>

{% include 'modals/change_email_modal.html' %}

{% endblock %}

{% block script %}
<script>
    // Add event listener to detect changes in the form
    document.getElementById('profileForm').addEventListener('input', function() {
        document.getElementById('saveButton').classList.remove('button-disabled');
    });

    const avatarInput = document.getElementById('avatarInput');
    const avatarPreview = document.getElementById("avatarPreview");
    avatarInput.addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                avatarPreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}




