{% extends 'layouts/default_layout.html' %}
{% load i18n %}

{% block label %}{% trans "Search" %}{% endblock %}

{% block content %}
        <form method="GET" action="{% url 'search' %}" class="flex input border-red items-center justify-between gap-1">
            <button type="submit">
                <i class="material-symbols-outlined text-2xl opacity-50">search</i>
            </button>
            <input
                type="text"
                name="q"
                placeholder="{% trans 'Search for something...' %}"
                class="w-full border-4"
                value="{{ request.GET.q|default_if_none:'' }}"
                autofocus
            />
        </form>

        {% if request.GET.q %}
            <p class="text-sm p-1 opacity-70">
                {% trans "Showing results for:" %} <strong>{{ request.GET.q }}</strong>
            </p>
        {% endif %}
{% endblock %}
