{% extends 'layouts/default.html' %}

{% block header %}
<h1 class="text-3xl">Settings</h1>
{% endblock %}

{% block center_content %}

    <a href="{% url 'profile-settings' %}" class="flex px-4 py-2 items-center justify-between rounded mb-4 border-2 custom-border">
        <div class="flex gap-4 items-center">
            <img class="avatar w-20 h-20" src="{{user.profile.avatarDisplay}}"/>
            <div>
                <h1 class="text-lg font-bold">{{user.profile.fullName}}</h1>
                <h1 class="text-sm opacity-60">{{user.email}}</h1>
            </div>
        </div>
        <img class="h-4 w-4 opacity-60" src="/static/icon/right.svg" alt="Right Icon"/>
    </a>

    <div class="flex flex-col rounded w-full border-2 custom-border">
        <a href="{% url 'settings-general' %}" class="px-4 py-2 custom-border-bottom">General</a>
        <div class="flex pr-1 justify-between items-center custom-border-bottom">
            <a href="{% url 'settings-theme' %}" class="p-3 w-full">Theme</a>
            {% include 'partials/theme_selection.html' %}
        </div>
        <a href="{% url 'profile-password-change' %}" class="px-4 py-2 custom-border-bottom">Change Password</a>
        <a href="#" class="px-4 py-2 text-red-600" onclick="openDeleteAccountModal()">Delete Account</a>
    </div>

    {% include 'modals/account_delete_modal.html' %}
{% endblock %}

{% block script %}
    <script>
        const deleteAccountModal = document.getElementById('deleteAccountModal')
        const deleteAccountModalContent = deleteAccountModal.querySelector('.modal-content');

        function openDeleteAccountModal() {
            deleteAccountModal.classList.add('show');
            deleteAccountModalContent.classList.add('show');
        }
        function closeDeleteAccountModal() {
            deleteAccountModal.classList.remove('show');
            deleteAccountModalContent.classList.remove('show');
        }

        // Close the modal when clicking outside the content area
        deleteAccountModal.addEventListener('click', function (event) {
            if (event.target === deleteAccountModal) {
                closeDeleteAccountModal()
            }
        });
    </script>
{% endblock %}
    