{% extends 'layouts/form_layout.html' %}
{% load i18n %}

{% block label %}{% trans "Settings" %}{% endblock %}

{% block form_content %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}" class="flex p-3 items-center justify-between rounded mb-4 border custom-border">
        <div class="flex gap-4 items-center">
            <img class="avatar w-20 h-20" src="{{user.profile.avatarDisplay}}"/>
            <div>
                <h1 class="text-lg font-bold">{{user.profile.fullName}}</h1>
                <h1 class="text-sm opacity-60">{{user.email}}</h1>
            </div>
        </div>
        <span class="material-symbols-outlined opacity-60 text-sm">arrow_forward_ios</span>
    </a>
    {% endif %}

    <div class="flex flex-col rounded w-full custom-border">
        <a href="{% url 'settings-general' %}" class="h-12 flex items-center px-4 custom-border-b">{% trans "General" %}</a>

        <!-- Language -->
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <div class="h-12 flex items-center justify-between px-4 pr-1 custom-border-b">
                <h1>{% trans "Language" %}</h1>
                <select name="language" id="language" class="w-[200px] bg-transparent" onchange="this.form.submit()">
                    {% get_current_language as current_language %}
                    {% get_available_languages as languages %}
                    {% for lang in languages %}
                        <option value="{{ lang.0 }}" {% if lang.0 == current_language %}selected{% endif %}>
                            {{ lang.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>

        {% if request.user.is_authenticated %}
        <!-- <a href="{% url 'profile-password-change' %}" class="h-12 flex items-center px-4 custom-border-b">{% trans "Change Password" %}</a> -->
        <a href="#" class="h-12 flex items-center px-4 custom-border-b" onclick="openChangePasswordModal()">{% trans "Change Password" %}</a>
        <a href="#" class="h-12 flex items-center px-4 text-red-500" onclick="openDeleteAccountModal()">{% trans "Delete Account" %}</a>
        {% endif %}
    </div>

    {% include 'modals/change_password_modal.html' %}
    {% include 'modals/account_delete_modal.html' %}
{% endblock %}

{% block script %}
{% endblock %}
    